.footer {
    width: 100%;

    &_fc {
        padding: 40px 0;
        box-shadow: 1px 0 26px 3px #c9c9c9;
        margin: 5px;
        border-radius: 15px;
        &_top {
            margin: 15px;
            display: flex;
            justify-content: space-between;

        }
    }
}
.media{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin: 30px 0;
    a{
        color: grey;
    }
    &_emages {
        width: 6%;
    }
}

.icons{
    font-size: 30px;
    color:grey;
}
.copy{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin: 30px 0;

}

@media screen and (max-width: 996px) {
    .footer{
        &_fc{
           &_top{
                display: flex;
               flex-direction: column-reverse;
               &_f-links{
                   margin: 20px 0;

               }
            }
        }
    }
}
