*{
    /*outline: 1px solid red;*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    margin: auto;
    max-width:1150px;
    /*max-width: 1366px;*/
    padding: 20px;
    border-radius: 10px;


}
.bottns{
    margin: 10px 0;
    display: inline-block;
    padding: 8px 25px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;

}
.line{
    height:25px;
    background: black;
    width: 1px;
    min-height: 14px;
    margin: 0 10px;
}
a{
    text-decoration: none;
    color: black;
}
.btn-tag{
    border-radius: 8px;
    padding: 6px 15px;
    background: black;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}
.btn-tag-gold{
    display: inline-block;
    padding: 9px 15px;
    margin: 10px 10px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    background: #c3a604;
    text-transform: capitalize;
    text-align: center;
}
.red{
    background: #f65058ff;
}
.gold{ background: #c3a604}
.green{ background: #008c76}
.white{
    background:#fff ;
}
.black{
    background: #000
}